<nav class="navbar">
  <div class="logo" routerLink="/" (click)="closeMenus()">Quiz-IT</div>

  <button class="hamburger" (click)="toggleMobileMenu()" [class.active]="isMobileMenuOpen">
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
  </button>

  <div class="nav-links-container" [class.active]="isMobileMenuOpen">
    <a routerLink="/" (click)="closeMenus()">Accueil</a>
    <a routerLink="/quiz" (click)="closeMenus()">Quiz</a>
    <a routerLink="/classement" (click)="closeMenus()">Classement</a>
    <a routerLink="/resultat" (click)="closeMenus()">Résultat</a>

    <ng-container *ngIf="authService.isLoggedIn; else loginButton">
      <div class="dashboard-container">
        <a (click)="toggleDashboard($event)" class='tableau-de-bord-btn'>
          <span>Tableau de bord</span>
        </a>
        <app-dashboard *ngIf="showDashboard" (closeMenu)="closeMenus()"></app-dashboard>
      </div>
    </ng-container>

    <ng-template #loginButton>
      <a routerLink="/connexion" class='connexion' (click)="closeMenus()">
        <span>Connexion/Inscription</span>
      </a>
    </ng-template>
  </div>
</nav>