<div class="quiz-detail-container">
  <button (click)="goBack()" class="btn btn-back">←Retour</button>

  <div *ngIf="isLoading" class="loading-indicator">
    <p>Chargement des détails du quiz</p>
  </div>

  <div *ngIf="error && !isLoading" class="error-message">
    <p>{{ error }}</p>
  </div>

  <div *ngIf="!isLoading && !error && quiz" class="quiz-content">
    <h1 class="quiz-title">{{ quiz.title }}</h1>
    <p *ngIf="quiz.description" class="quiz-description">{{ quiz.description }}</p>

    <div class="quiz-meta">
      <span *ngIf="quiz.category" class="meta-item category">
        <strong>Categorie:</strong> {{ quiz.category.name }}
      </span>
      <span *ngIf="quiz.difficultyLevel" class="meta-item difficulty">
        <strong>Difficulté:</strong> {{ quiz.difficultyLevel }}
      </span>
      <span *ngIf="quiz.totalQuestions !== undefined" class="meta-item questions-count">
        <strong>Questions:</strong> {{ quiz.totalQuestions }}
      </span>
      <span *ngIf="quiz.questions && quiz.totalQuestions === undefined" class="meta-item questions-count">
        <strong>Questions:</strong> {{ quiz.questions.length }}
      </span>
      <span *ngIf="quiz.participantsCount !== undefined" class="meta-item participants-count">
        <strong>Participants:</strong> {{ quiz.participantsCount }}
      </span>
      <span class = 'meta-item owner-name'> 
        <strong>Created by: </strong> {{quiz.creator?.username}}
      </span>
    </div>

    <div class="quiz-actions">
      <button (click)="startActualQuiz(quiz.quizId)" class="btn btn-start-actual-quiz">
        Commencer cette quiz
      </button>
    </div>

    </div>

  <div *ngIf="!isLoading && !error && !quiz" class="no-quiz-data">
    <p>Quiz n'existe pas</p>
  </div>
</div>