<div class="dashboard-drawer" (click)="$event.stopPropagation()">

    <div class="drawer-section">
      <h3 class="drawer-section-title">User Actions</h3>
      <ul>
        <li><a routerLink="profil" (click)="onNavigate()">Profil</a></li>
        <li><a routerLink="/dashboard/settings" (click)="onNavigate()">Paramètres</a></li>
        <li><a routerLink="/dashboard/stats" (click)="onNavigate()">Statistiques</a></li>
      </ul>
    </div>
  
    <div class="drawer-section">
      <h3 class="drawer-section-title">Admin</h3>
       <ul>
        <li><a routerLink="/admin/users" (click)="onNavigate()">Gérer Utilisateurs</a></li>
        <li><a routerLink="/admin/quizzes" (click)="onNavigate()">Gérer Quiz</a></li>
      </ul>
    </div>
  
     <div class="drawer-section">
       <ul>
         <li><a (click)="logout()" style="cursor: pointer; color: var(--color-error);">Déconnexion</a></li>
       </ul>
     </div>
  
  </div>